* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
img {
    width: 100%;
}

/* header */
header {
    width: 100%;
    height: 80px;
    background-color: #ff6600;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}

.top-bar {
    width: 1980px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav, .logo, .personal-area, .general-info, .social {
    flex-basis: 25%;
}

.menu {
    width: 60%;
    font-size: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
 
}

ul.menu a {
    color: #fff;
    text-decoration: none;
}

#logo {
    width: 200px;
    height: 50px;
}

.personal-area {
    text-align: right;
}

i {
    color: #fff;
    padding: 0 5px;
} 


/* main */

main {
    margin-top: 100px;
    padding: 20px;
}

.conteiner {
    width: 1980px;
    margin: 0 auto;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

/* card regole */
.card {
    width: calc(100% / 3);
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.slot-img {
    position: relative;
}

.slot-img:hover .primary-img {
    display: none;
}

.slot-img:hover .secondary-img {
    display: inline-block;
}

.primary-img {
    display: inline-block;
}

.secondary-img {
    display: none;
}

.slot-text {

}

.favorites {
    position: absolute;
    top: 15px;
    right: 0px;
    width: 40px;
    height: 40px;
    font-size: 35px;
    text-align: center;
    background-color: #fff;
    line-height: 40px;
}

.conteiner-badge {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.badge {
    color: #fff;
    padding: 5px 10px;
}

.discount {
    background-color: red;
}

.extra {
    background-color: green;
}

.slot-text > strong {
    color: red;
}

/* footer */

footer {
    width: 100%;
    height: 100px;
    background-color: #1a1a1a;
}

.conteiner-footer {
    width: 1980px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.conteiner-footer  h4 {
    font-size: 30px;
    color: #fff;
    padding: 10px 0;
}

footer .menu {
    font-size: 10px;
}

.social {
    text-align: right;
    color: #fff;
    font-size: 20px;
}

.social h5 {
    padding: 10px 20px;
}